.formgroup > input, .form-select{
    border-radius: 50px;
}

.tenants-div {
    display: flex;
    padding: 5px;
    flex-direction: column;
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
}

.tenants-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tenants-btn {
    align-self: flex-end;
}

.tenants-btn * {
    margin: 3px;
}

