.hp-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.hp-card {
    border: none;
}

.hp-navbar {
    background-color: rgba(240, 163, 164, 0.5);
}

.hp-navbar-nav {
    flex-direction: row;
}

.hp-navbar-nav > Nav.Link {
    padding-right: 0.5px !important;
}
